*{
    font-family: 'Nunito', sans-serif;
    line-height: normal;
}

body{
    background-image: url(https://source.unsplash.com/collection/386111/1600x900);
    margin: 0; 
    border: 0;
}

.title{
    display: flex;
    justify-content: center;

    background-color: #096138;
    color: white;

    padding: 10px;
}

.cont{
    display: flex;
    justify-content: center;
}

.content{

    display: flex;
    justify-content: center;

    background-color: #fbfffd;
    border-radius: 2%;
    box-shadow: 0 0 1em #174415;

    width: auto;
    height: auto;

    margin: 10px;
   
    padding: 30px;
}

.input_size{
    width: 100%;
}

.h2_title{
    display: flex;
    justify-content: center
}

.first_title{
    margin-top: 0;
}

.last_title{
    margin-bottom: 5px;
}

.side{
    display: flex;
    justify-content: center;

    
}

.button{
    color: white;
    background-color: #096138;

    width: 100%;
    height: 35px;

    border-radius: 5%;
    font-size: 1rem;

    margin-left: 5px;
    margin-right: 5px;

    cursor: pointer;
}

.button:hover{
    color: white;
    background-color: #04331d;
}


.clean{
    color: white;
    background-color: #c9001b; 
}


.clean:hover{
    background-color: #5a010d;
}

